a{
    background-image: url("images/box4_image.jpg");
}
a{
    text-decoration: none;
}
a:active{
    color: yellow;
}
a:hover{
    color: green;
}
tr, th{
    padding: 2px;
    text-align: center;
}